*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #A67B5B;
    text-align: center;
}

body::-webkit-scrollbar {
    display: none;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #A67B5B;
    background-color: #F8F9D7;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #ECB176;
    color: #000;
    border-radius: 1rem;
    border: none;
    font-weight: 600;
}

#new-btn{
        padding: 1rem;
        font-size: 1.5rem;
        background-color: #ECB176;
        color: #000;
        border-radius: 1rem;
        border: none;
        font-weight: 600;
}

#msg {
    color: #ffffc7;
    font-size: 50px;
    font-weight: 800;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}

main h3 {
    color: #F3F7EC;
    font-size: 50px;
}
